# Topic ideas

---

Group name: Lena Breitberg, Ji Huixiao, Paraskevas Papadopoulos

---

In [2]:
import pandas as pd

## Immobilienmarkt Nürnberg 

### Data source

Die Daten wurden mittels Web-Scraping von der Immowelt-Website am 09.11.2023 im Rahmen der Projektarbeit des Moduls "Python for Data Analytics" erstellt.

### Data characteristics

Die Datenbank umfasst etwa 900 Datensätze, die sowohl Bestandsimmobilien als auch Neubauprojekte in Nürnberg repräsentieren. Die Beschreibung der Immobilien erfolgt anhand von etwa 20 eindeutigen unabhängigen Variablen. Dieser Datensatz erfüllt somit die Projektanforderungen. 
    
    
### Research question

**Lineare Regression:**

Wie beeinflussen verschiedene Eigenschaften von Immobilien den Verkaufspreis? Welche Faktoren, darunter Baujahr, Wohnfläche, Lage und energetische Effizienz, haben signifikante Auswirkungen auf den Preis?

1. Abhängige Variable (Response):
    - PRICE (Der Preis der Immobilie)  
&nbsp;  <!-- Leere Zeile -->
2. Unabhängige Variablen (Predictors):
    - General.ConstructionYear (Das Baujahr der Immobilie)
    - General.LivingSpace (Die Wohnfläche der Immobilie)
    - Tealium.object_count_photos (Die Anzahl der Fotos der Immobilie)
    - LocalRatings.scores.local_amenities (Bewertungen der lokalen Annehmlichkeiten)
    - LocalRatings.scores.mobility (Bewertungen der Mobilität)
    - Latitude (Die geografische Breite des Standorts)
    - Longitude (Die geografische Länge des Standorts)
    - ROOMS (Die Anzahl der Zimmer in der Immobilie)
    - PRICE_COMMONCHARGE (Die monatlichen Nebenkosten)
    - Value (Endenergieverbrauch in kWh/(m²·a))
    - ELEVATOR (Die Verfügbarkeit eines Aufzugs)
    - EQUIPMENTS (Informationen über die Ausstattung)
    - HEATING (Heizungsart)
&nbsp;  <!-- Leere Zeile -->


**Klassifikation:**

Inwieweit können verschiedene Merkmale von Immobilien dazu verwendet werden, die Energieeffizienzklasse vorherzusagen? Insbesondere interessiert uns, ob das Baujahr, die Wohnfläche, geografische Standortmerkmale und andere spezifische Eigenschaften genutzt werden können, um die Kategorie der Energieeffizienz einer Immobilie zu klassifizieren.

1. Abhängige Variable (Response):
   - Class (Die Klasse oder Kategorie des Energietyps)   
&nbsp;  <!-- Leere Zeile -->
2. Unabhängige Variablen (Predictors)
    - General.ConstructionYear (Das Baujahr der Immobilie)
    - General.LivingSpace (Die Wohnfläche der Immobilie)
    - Latitude (Die geografische Breite des Standorts)
    - Longitude (Die geografische Länge des Standorts)
    - HEATING (Heizungsart)
    - PRICE (Der Preis der Immobilie)
&nbsp;  <!-- Leere Zeile -->    
    

### Overview of data

In [12]:
githubUrl = 'https://raw.githubusercontent.com/hdm-statistik-lpj/project/main/data/external/immobilienNuernberg.csv'

# CSV-Datei in ein Pandas DataFrame importieren
immobilienDf = pd.read_csv(githubUrl)

In [4]:
immobilienDf.head()

,General.EstateTypeKey,General.ReferenceNumber,General.DistributionTypeKey,General.ConstructionYear,General.LivingSpace,Tealium.object_locationid,Tealium.object_address_is_visible,Tealium.object_zip,Tealium.object_currency,Tealium.object_features,...,USAGE,SUITABILITY,CONDITION,HOUSECONDITION,PARKINGSLOT,ENERGY,BUILDINGTYPE,HEATING,ELEVATOR,EQUIPMENTS
0,WOHNUNG,001/G1/E114,ZUM_KAUF,2023.0,247.07,493480,True,90482,EUR,"['Neubau', 'WANNE', 'gaestewc', 'Bad/WC getren...",...,NaN,NaN,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fußbodenheizung,Personenaufzug,NaN
1,WOHNUNG,NaN,ZUM_KAUF,1900.0,69.00,493430,False,90461,EUR,"['Dach ausgebaut', 'WANNE', 'gaestewc', 'Bad/W...",...,vermietet,WG-geeignet,renoviert / saniert,NaN,NaN,Gas,NaN,Etagenheizung,NaN,NaN
2,WOHNUNG,NaN,ZUM_KAUF,1972.0,69.46,493465,False,90473,EUR,"['WANNE', 'GEPFLEGT', 'FERN', 'LAMINAT', 'FLIE...",...,vermietet,NaN,gepflegt,NaN,Tiefgarage,Fernwärme,NaN,NaN,NaN,NaN
3,WOHNUNG,X4_301,ZUM_KAUF,2023.0,82.81,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'ERSTBE...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fußbodenheizung,Personenaufzug,NaN
4,WOHNUNG,X4_204,ZUM_KAUF,2023.0,75.52,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'Erdges...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fußbodenheizung,Personenaufzug,NaN

In [5]:
immobilienDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 49 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   General.EstateTypeKey                                  961 non-null    object
 1   General.ReferenceNumber                                832 non-null    object
 2   General.DistributionTypeKey                            961 non-null    object
 3   General.ConstructionYear                               961 non-null    float64
 4   General.LivingSpace                                    961 non-null    float64
 5   Tealium.object_locationid                              961 non-null    int64
 6   Tealium.object_address_is_visible                      961 non-null    bool
 7   Tealium.object_zip                                     961 non-null    int64
 8   Tealium.object_currency                                961 non-null    object
 9   Tealium.object_features                                961 non-null    object
 10  Tealium.object_objektart_sub                           961 non-null    object
 11  Tealium.expose_type                                    961 non-null    object
 12  Tealium.broker_guid                                    961 non-null    int64
 13  Tealium.object_count_photos                            960 non-null    float64
 14  LocalRatings.scores.local_amenities                    958 non-null    float64
 15  LocalRatings.scores.mobility                           958 non-null    float64
 16  MetaBadges                                             961 non-null    object
 17  Price.AdditionalInformation.Commission.CommissionType  961 non-null    object
 18  EstateAddress.City                                     961 non-null    object
 19  EstateAddress.ZipCode                                  961 non-null    int64
 20  EstateAddress.Street                                   316 non-null    object
 21  Offerer.addressGuid                                    961 non-null    object
 22  Offerer.globalUserId                                   961 non-null    int64
 23  Offerer.contactData.companyName                        930 non-null    object
 24  Project.Address.PostCode                               177 non-null    float64
 25  Project.Address.Street                                 177 non-null    object
 26  Project.Address.HouseNumber                            146 non-null    object
 27  Latitude                                               961 non-null    float64
 28  Longitude                                              961 non-null    float64
 29  Stadtteil                                              961 non-null    object
 30  Stadt                                                  961 non-null    object
 31  PRICE                                                  961 non-null    float64
 32  ROOMS                                                  961 non-null    float64
 33  PRICE_COMMONCHARGE                                     423 non-null    float64
 34  EnergyType                                             727 non-null    object
 35  Class                                                  622 non-null    object
 36  Value                                                  727 non-null    float64
 37  CATEGORY                                               153 non-null    object
 38  FLOOR                                                  807 non-null    object
 39  USAGE                                                  325 non-null    object
 40  SUITABILITY                                            163 non-null    object
 41  CONDITION                                              415 non-null    object
 42  HOUSECONDITION                                         219 non-null    object
 43  PARKINGSLOT                                            404 non-null    object
 44  ENERGY                                                 789 non-null    object
 45  BUILDINGTYPE                                           118 non-null    object
 46  HEATING                                                734 non-null    object
 47  ELEVATOR                                               464 non-null    object
 48  EQUIPMENTS                                             84 non-null     object
dtypes: bool(1), float64(12), int64(5), object(31)
memory usage: 361.4+ KB

In [6]:
immobilienDf.describe()

,General.ConstructionYear,General.LivingSpace,Tealium.object_locationid,Tealium.object_zip,Tealium.broker_guid,Tealium.object_count_photos,LocalRatings.scores.local_amenities,LocalRatings.scores.mobility,EstateAddress.ZipCode,Offerer.globalUserId,Project.Address.PostCode,Latitude,Longitude,PRICE,ROOMS,PRICE_COMMONCHARGE,Value
count,961.000000,961.000000,961.000000,961.000000,9.610000e+02,960.000000,958.000000,958.000000,961.000000,9.610000e+02,177.000000,961.000000,961.000000,9.610000e+02,961.000000,423.000000,727.000000
mean,1979.035380,77.198096,493479.893861,90448.441207,1.658153e+06,12.927083,6.721921,9.179958,90448.441207,1.658153e+06,90443.197740,49.443274,11.082636,4.609073e+05,2.761186,259.189835,102.342352
std,36.413922,35.495184,46.347343,26.053529,2.728224e+06,9.509278,1.663682,0.916604,26.053529,2.728224e+06,24.948592,0.024613,0.036428,3.222594e+06,1.215971,111.251378,54.312412
min,1872.000000,19.350000,493383.000000,90402.000000,1.060100e+04,1.000000,1.000000,1.500000,90402.000000,1.060100e+04,90402.000000,49.348390,11.007230,7.400000e+04,1.000000,65.000000,0.000000
25%,1957.000000,56.580000,493434.000000,90429.000000,3.741700e+04,7.000000,5.700000,9.100000,90429.000000,3.741700e+04,90425.000000,49.428280,11.053720,2.000000e+05,2.000000,179.500000,67.600000
50%,1976.000000,72.510000,493480.000000,90449.000000,5.633600e+04,11.000000,7.000000,9.600000,90449.000000,5.633600e+04,90443.000000,49.445040,11.085050,2.950000e+05,3.000000,246.000000,103.300000
75%,2019.000000,90.000000,493522.000000,90471.000000,2.447870e+06,16.000000,8.000000,9.700000,90471.000000,2.447870e+06,90461.000000,49.461450,11.102240,4.450000e+05,3.000000,320.000000,135.250000
max,2025.000000,532.000000,493560.000000,90491.000000,9.326454e+06,54.000000,9.500000,9.700000,90491.000000,9.326454e+06,90542.000000,49.528380,11.261590,1.000000e+08,22.000000,1078.000000,326.000000

## Analyse von Preisdaten für Lieferkettenlieferungen

### Data source

Quelle: https://data.usaid.gov/HIV-AIDS/Supply-Chain-Shipment-Pricing-Data/a3rc-nmf6


### Data characterisitcs

Der Datensatz bietet umfassende Informationen zu Supply Chain Health Ware, einschließlich Versand- und Preisdaten für Lieferungen von Antiretroviralen (ARV) und HIV-Laborprodukten in unterstützte Länder. Er enthält auch Daten zu Rohstoffpreisen und den damit verbundenen Lieferkettenkosten für den Transport von Rohstoffen in Nutzungsländer.
Der vorliegende Datensatz besteht aus einer Stichprobe von insgesamt 10.324 Datensätzen mit 33 numerische und kategoriale Variablen. Einige Variablen können als eindeutige unabhängige Variablen identifiziert werden. Auch dieser Datensatz erfüllt somit die Projektanforderungen.


### Research question

**Lineare Regression:**

Wie variieren die Kosten und Volumina von Antiretroviralen (ARV) und HIV-Laborprodukten in der Supply Chain Health Ware, und welche Einflussfaktoren, einschließlich Projektcode, Versandart, Land, Lieferant, Produktgruppe, geplantes Lieferdatum usw., tragen zu diesen Variationen bei?

Für das lineare Regressionsmodell würden wir die Kosten oder Volumina von Antiretroviralen (ARV) und HIV-Laborprodukten als abhängige Variable und die folgenden Einflussfaktoren als unabhängige Variablen betrachten:
   - Projektcode (identifiziert spezifische Projekt zu dem die Lieferung gehört.)
   - Versandart (auf welche Weise die Lieferung erfolgt.)
   - Land (Zielland, in dem die ARV- und HIV-Laborprodukte empfangen werden sollen.)
   - Lieferant (Lieferant, von dem die Gesundheitsprodukte bezogen werden.)
   - Produktgruppe (Gruppe, zu der das Gesundheitsprodukt gehört, z.B. ARV oder HIV-Laborprodukte.)
   - Geplantes Lieferdatum (vorhergesehene Datum, an dem die Lieferung erfolgen soll.)
   - Frachtkosten in USD ( Kosten für den Frachttransport der Lieferung.)

**Klassifikation:**

Wie können wir basierend auf verschiedenen Variablen wie Lieferant, Versandart, Land usw. die Produktgruppe (ARV, HIV-Laborprodukte, etc.) vorhersagen?

Abhängige Variable: Produktgruppe (Gruppe, zu der das Gesundheitsprodukt gehört, z.B. ARV oder HIV-Laborprodukte.)

Unabhängige Variablen: Andere relevante Variablen wie Lieferant, Versandart, Land, geplantes Lieferdatum, etc.


### Overview of data

In [8]:
githubUrl = 'https://raw.githubusercontent.com/hdm-statistik-lpj/project/main/data/external/Supply_Chain_Shipment_Pricing_Data.csv'

df = pd.read_csv(githubUrl)

In [9]:
df.head()

,id,project code,pq #,po / so #,asn/dn #,country,managed by,fulfill via,vendor inco term,shipment mode,...,unit of measure (per pack),line item quantity,line item value,pack price,unit price,manufacturing site,first line designation,weight (kilograms),freight cost (usd),line item insurance (usd)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,True,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",True,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,True,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",True,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",True,7590,45450.08,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            10324 non-null  int64
 1   project code                  10324 non-null  object
 2   pq #                          10324 non-null  object
 3   po / so #                     10324 non-null  object
 4   asn/dn #                      10324 non-null  object
 5   country                       10324 non-null  object
 6   managed by                    10324 non-null  object
 7   fulfill via                   10324 non-null  object
 8   vendor inco term              10324 non-null  object
 9   shipment mode                 9964 non-null   object
 10  pq first sent to client date  10324 non-null  object
 11  po sent to vendor date        10324 non-null  object
 12  scheduled delivery date       10324 non-null  object
 13  delivered to client date      10324 non-null  object
 14  delivery recorded date        10324 non-null  object
 15  product group                 10324 non-null  object
 16  sub classification            10324 non-null  object
 17  vendor                        10324 non-null  object
 18  item description              10324 non-null  object
 19  molecule/test type            10324 non-null  object
 20  brand                         10324 non-null  object
 21  dosage                        8588 non-null   object
 22  dosage form                   10324 non-null  object
 23  unit of measure (per pack)    10324 non-null  int64
 24  line item quantity            10324 non-null  int64
 25  line item value               10324 non-null  float64
 26  pack price                    10324 non-null  float64
 27  unit price                    10324 non-null  float64
 28  manufacturing site            10324 non-null  object
 29  first line designation        10324 non-null  bool
 30  weight (kilograms)            10324 non-null  object
 31  freight cost (usd)            10324 non-null  object
 32  line item insurance (usd)     10037 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(25)
memory usage: 2.5+ MB

In [11]:
df.describe()

,id,unit of measure (per pack),line item quantity,line item value,pack price,unit price,line item insurance (usd)
count,10324.000000,10324.000000,10324.000000,1.032400e+04,10324.000000,10324.000000,10037.000000
mean,51098.968229,77.990895,18332.534870,1.576506e+05,21.910241,0.611701,240.117626
std,31944.332496,76.579764,40035.302961,3.452921e+05,45.609223,3.275808,500.190568
min,1.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,12795.750000,30.000000,408.000000,4.314593e+03,4.120000,0.080000,6.510000
50%,57540.500000,60.000000,3000.000000,3.047147e+04,9.300000,0.160000,47.040000
75%,83648.250000,90.000000,17039.750000,1.664471e+05,23.592500,0.470000,252.400000
max,86823.000000,1000.000000,619999.000000,5.951990e+06,1345.640000,238.650000,7708.440000